<nav class="navbar">
  <div class="nav-brand">
    <a href="/">HypeHub</a>
  </div>

  <div class="nav-links">
    <a href="/shop">Market</a>
    <a href="#">Editorial</a>
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
  </div>

  <div class="nav-actions">
    <% if (typeof user !== 'undefined' && user) { %>
      <a href="/profile" class="nav-icon" title="Profile">
        <img src="/images/icons/profile.png" alt="">
      </a>
      <a href="/cart" class="nav-icon" title="Cart">
        <img src="/images/icons/cart.png" alt="cart">
      </a>
      <a href="/logout" class="btn-nav-login">Logout</a>
    <% } else { %>
      <a href="/login" class="btn-nav-login">Login</a>
      <a href="/register" class="btn-nav-register">Register</a>
    <% } %>
  </div>
</nav>